.grid{
    background-color: grey;
    width: 410px;
    height: 610px;
    position: relative;
}
.doodler{
    width: 60px;
    height: 60px;
    background-color: rebeccapurple;
    position: absolute;
}