.grid{
    background-color: blue;
    width: 400px;
    height: 600px;
    position: relative;
}
.doodler{
    width: 60px;
    height: 60px;
    background-color: rebeccapurple;
    position: absolute;
}