main{
    position: relative;
    top: 17px;
}
.top{
    background-color: brown;
    z-index: 3;
    position: absolute;
    width: 410px;
    height: 80px;
}
.grid{
    background-image: url("./images/road.jpg");
    background-size:408px 610px;
    width: 410px;
    height: 610px;
    position: absolute;
    z-index: 1;
    text-align: center;
}
.doodler{
    width: 70px;
    height: 85px;
    background-image: url("./images/redCar.png");
    background-size: 70px 85px;
    position: absolute;
    z-index: 2;
}
.obstacle{
    width: 70px;
    height: 85px;
    background-image: url("./images/yellowCar.png");
    background-size: 70px 85px;
    position: absolute;
}
.score{
    font-size: 120%;
    color: white;
    position: absolute;
    left: 10px;
}
.game-over{
   position: absolute;
   font-size: 270%;
    top: 240px;
    left: 0px;
    width:410px;
    text-shadow: white 0px 0px 4px;
}
.start-button {
    width: 90px;
    height: 50px;
    position: absolute;
    top: 320px;
    left: 164px;
    border-radius: 15px;
    font-size: 150%;
    background-color: chartreuse;
}